@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); 
@import "resets";
@import "main";

body{
    background-color:orange; 
    
    header{
        .heading{
            font-size: 2rem;
            color:black;
        }
        .icons{
            border: 1px solid black;
            .p{
                display: flex;
                align-items: center;
                justify-content: center;
                // border: 1px solid black;
                p{
                font-size: larger;
                vertical-align: auto;
                font-weight: 800;
            
              }
             }

            #sun{
                display: block;
    
            }

        }
    }
    .main{

        

        p{
            // text-transform: uppercase;
            text-align: center;
            color: black;
            
         
        }
    }
}